html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    background-color: rgb(27, 41, 75);
}

.header {
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: white;
    height: auto;
    width: 100%;
}

#header-contact {
    width: 200px;
    height: 70px;
    font-family: 'Work Sans', sans-serif;
    font-size: 25px;
    background-color: rgb(2, 168, 168);
    color: white;
    border: 2px solid rgb(2, 168, 168);
    border-radius: 5px;
    transition: all 0.2s ease-in-out;
}

#header-contact:hover {
    cursor: pointer;
    color: rgb(2, 168, 168);
    background-color: white;
}

#nav {
    display: grid;
    grid-template-columns: auto auto;
    font-family: 'Work Sans', sans-serif;
    text-align: center;
}

#nav a {
    text-decoration: none;
    color: black;
    margin-right: 20px;
}

#nav a:hover {
    color: rgb(2, 168, 168);
}

#nav p {
    margin: 0;
    margin-left: 15%;
    font-size: 25px;
    text-align: left;
}

.titlearea {
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 10px;
    padding-top: 50px;
    background-color: white;
    width: 100%;
}

#welcomemsg {
    font-family: 'Work Sans', sans-serif;
    font-size: 30px;
    width: 500px;
}

#headshot {
    width: 250px;
    height: 250px;
}

#headshot img {
    width: 100% !important;
    height: 100% !important;
    border-radius: 50%;
}

#about {
    font-family: 'Work Sans', sans-serif;
    font-size: 25px;
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
    padding-top: 50px;
    max-height: auto;
    width: 100%;
    background-color: rgb(225, 225, 225);
    text-align: center;
    border-bottom: 3px solid rgb(94, 94, 94);
}

#about p {
    font-weight: 300;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

#aboutme {
    margin: 0;
    font-family: 'Work Sans', sans-serif;
    font-size: 30px;
    font-weight: 400;
}


#projects {
    color: rgb(255,255,255);
    text-align: center;
    font-family: 'Work Sans', sans-serif;
    font-size: 30px;
    font-weight: 400;
}

.mainarea {
    margin-top: 30px;
    margin-right: 15%;
    margin-left: 15%;
    margin-bottom: 30px;
    border: 3px solid rgb(94, 94 ,94);
    border-radius: 8px;
}

.objectarea1 {
    display: grid;
    background-color: rgb(255, 255, 255);
    grid-template-columns: auto auto auto;
    text-align: center;
    align-items: center;
}

.objectarea2 {
    display: grid;
    background-color: rgb(255, 255, 255);
    grid-template-columns: auto auto auto;
    text-align: center;
    align-items: center;
}


.box {
    grid-row: 1;
    font-size: 10px;
    transition: all 0.2s ease-in-out;
}

.box:hover {
    color: white;
    background-color: rgb(2, 168, 168);
    cursor: pointer;
}

.box h3 {
    font-family: 'Work Sans', sans-serif;
    font-size: 20px;
}

.contentrow1 {
    font-family: 'Work Sans', sans-serif;
    display: flex;
    background-image: linear-gradient( rgb(230, 230, 230), rgb(207, 207, 207));
    height: 0;
    width: 100%;
    text-align: left;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
    grid-column: span 3/-1;
}

.contentrow2 {
    font-family: 'Work Sans', sans-serif;
    display: flex;
    background-image: linear-gradient( rgb(230, 230, 230), rgb(207, 207, 207));
    height: 0;
    width: 100%;
    text-align: left;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
    grid-column: span 3/-1;
}

.projectimg {
    margin: 15px;
    width: 40%;
}

.projectimg img {
    display: block;
    margin-top: 15px;
    margin-right: auto;
    margin-left: auto;
    width: 80%;
    height: auto;
    transition: all 0.3s ease-in-out;
}

.projectimg img:hover {
    width: 83%;
    box-shadow: 0 0 15px 2px rgb(2, 168, 168);
}

.projectinfo {
    text-align: center;
    margin: 15px;
    width: 60%;
}

.displayed {
    font-family: 'Work Sans', sans-serif;
    font-weight: 300;
    font-size: 20px;
    color: rgb(0, 0, 0);
    min-height: auto;
    height: 250px;
    transition: all 0.3s ease-in-out;
    overflow-y: auto;
}

.triangle {
    width: 1px;
    height: 0px;
    margin-right: auto;
    margin-left: auto;
    border-left: 55px solid transparent;
    border-right: 55px solid transparent;
    border-bottom: 0px solid  rgb(230, 230, 230);
    transition: all 0.3s ease-in-out;
  }

.triangled {
    border-bottom: 15px solid  rgb(230, 230, 230);
    transition: all 0.3s ease-in-out;
}

.contact {
    width: 100%;
    min-height: 300px;
    margin-bottom: 0;
    border-top: 3px solid rgb(94, 94, 94);
    background-color: white;
    color: black;
    font-family: 'Work Sans', sans-serif;
    text-align: center;
}

#contact {
    margin: 0;
    margin-top: 20px;
    font-family: 'Work Sans', sans-serif;
    font-size: 30px;
    font-weight: 400;
}

.contact h3 {
    font-size: 25px;
    font-weight: 300;
    margin: 0;
    margin-bottom: 20px;
    margin-top: 10px;

}

#contact-details p {
    font-size: 25px;
    font-weight: 300;
    width: 60%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 5px;
    margin-bottom: 5px;
}

#contact-details a {
    text-decoration: none;
    color: rgb(2, 168, 168);
}

#disclaimer {
    font-size: 15px;
}

@media (max-width: 960px) {
    .titlearea, .mainarea, .content, { width: auto; }
}

/* Resume page CSS */

.summary {
    font-family: 'Work Sans', sans-serif;
    font-size: 25px;
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
    padding-top: 50px;
    max-height: auto;
    width: 100%;
    text-align: center;
}

.summary p {
    font-weight: 300;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

#resume-contact-button {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#resume iframe {
    width: 50%;
    height: 600px;
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 20px;
    display: block;
}