body {
    margin: 0;
    background-color: rgb(255, 153, 0);
}

.titlearea {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    padding: 10px;
    padding-top: 50px;
    background-color: white;
    height: auto;
    width: 100%;
}

#welcomemsg {
    font-family: 'Work Sans', sans-serif;
    font-size: 30px;
    width: 100%;
}

#headshot {
    width: 250px;
    height: 250px;
}

#headshot img {
    width: 100% !important;
    height: 100% !important;
    border-radius: 50%;
}

#about {
    font-family: 'Work Sans', sans-serif;
    font-size: 25px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    padding-top: 50px;
    height: auto;
    width: 95%;
    background-color: rgb(255, 209, 140);
    text-align: center;
}

#about p {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

#aboutme {
    font-family: 'Work Sans', sans-serif;
    font-size: 30px;
    font-weight: 400;
}

#projects {
    text-align: center;
    font-family: 'Work Sans', sans-serif;
    font-size: 30px;
    font-weight: 400;
}

.mainarea {
    margin-top: 30px;
    margin-right: 5%;
    margin-left: 5%;
    border: 5px solid black;
    border-radius: 8px;
}

.objectarea {
    display: grid;
    background-color: rgb(255, 255, 255);
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    text-align: center;
    align-items: center;
}

.box {
    grid-column: 1;
    grid-row: span 1;
    font-size: 10px;
}

.box h3 {
    cursor: pointer;
    font-family: 'Work Sans', sans-serif;
    font-size: 20px;
}

.content {
    font-family: 'Work Sans', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient( rgb(230, 230, 230), rgb(207, 207, 207));
    height: 0;
    width: 100%;
    text-align: center;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
    grid-column: 1;
}

.projectimg {
    margin: 10px;
    width: 100%;
}

.projectimg img {
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    height: auto
}

.projectinfo {
    margin: 15px;
    width: 100%;
}

.displayed {
    font-family: 'Work Sans', sans-serif;
    font-size: 15px;
    color: rgb(0, 0, 0);
    height: 420px;
    transition: all 0.3s ease-in-out;
}

.triangle {
    width: 1px;
    height: 0px;
    margin-right: 0;
    margin-left: 32%;
    border-left: 55px solid transparent;
    border-right: 55px solid transparent;
    border-bottom: 0px solid  rgb(230, 230, 230);
    transition: all 0.3s ease-in-out;
  }

.triangled {
    border-bottom: 15px solid  rgb(230, 230, 230);
    transition: all 0.3s ease-in-out;
}  

@media (max-width: 960px) {
    .titlearea, .mainarea, .content, { width: auto; }
}
